@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap");

html {
  overflow-y: hidden;
}

h1 {
  font-family: "Dancing Script", cursive;
  font-size: 4em !important;
  margin: 1.5% !important;
  color: #0ccac4;
}

h2 {
  font-size: medium !important;
}

#inline {
  display: flex;
  justify-content: center;
  align-items: center;
}
